<h1>Looking at one particular spiderman</h1>

 ahref="/spiders">Look at all the spidermen

 <p>name: <%= @spider.name %></p>
 <p>name_of_villians: <%= @spider.name_of_villians %></p>
 <p>peter_parker: <%= @spider.peter_parker %></p>
